
/*Cuerpo*/
body{background-color: #dae3ff;
    margin: 125px;
    margin-top: 125px;
    margin-bottom:  125px;
    
    }

/*Lines Horizontales*/
hr{border-color: #12664F;
    
    }

/*Títulos h1*/
 h1{font-family: 'Lora', serif;
    text-align: center;
    color: #3A0CA3;
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 5px;
    
    }

/*Títulos h2*/
h2{font-family: 'Fira Sans', sans-serif;
    color: #F72585;
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;

    }

/*Títulos h3*/
h3{font-family: 'Noto Serif', serif;;
    color: #480CA8;
    text-align: right;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 800;

    }

/*Títulos h4*/
h4{font-family: 'Francois One', sans-serif;
    color: #7209B7;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 800;
    text-decoration: underline;
    font-style: italic;

    }

/*Párrafos*/
p{font-family: 'Lora', serif;
    color: #7209B7;
    text-indent: 50px;
    

    }

/*textos con línea al centro*/
s{color: #201c6e;
    text-decoration: line-through;
    font-weight: 500;
    font-style: oblique;

    }

/*textos con línea abajo*/
u{color: #4CC9F0;
    
}

/*textos con línea abajo*/
strong{color: #FF7B00;

    }

/*Hypervinculos*/
a{font-family: 'Fira Sans', sans-serif;
    font-weight: 800;
    background-color: #9883bb;
       
}
Resaltados
span{background-color: #9883bb;
    text-transform: uppercase;
    
}
/*acciones*/
a:hover{color:#FF7B00;
    background-color: #4CC9F0;

}

/*Listas*/
ul{text-align: right;
    color: #7209B7;
    line-height: 25px;
    
}

/*Listas*/
li{list-style: none;

}
