/*Otra forma de importar la fuente sin usar HTML*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');


/*Reseteo de estilos y declaración de algunos que compartirá el documento*/
* {
    margin: 0px; /*Siempre debe ir*/
    padding: 0px; /*Siempre debe ir*/
    box-sizing: border-box; /*Siempre debe ir*/
    font-family: 'IBM Plex Sans Arabic', sans-serif; /*Se cambia la elección de la tipografía de acuerdo al proyecto*/
    text-decoration: none; /*Opcional, pero sería bueno de acuerdo al proyecto*/
    margin: auto;
}


img {
    width: 100%;
    height: auto;
}
/*Desde acá empiezan menú de navegación*/

header h1 {
    -webkit-text-stroke: 1px white; /*propiedad del texto*/
  }

header .logo {
    width: 300px;
    

}

header {
    border-bottom:5px solid #fff ; /*borde imferior*/
    text-align: center; /*alineado*/
    background-color: #EEF2F3; /*fondo*/
    padding: 30px 10px; /*margen interior*/
}

header .menu {
    margin-top: 18px; /*margen exterior supeior*/
}

header .menu ul li {
    display: inline; /*ubica los elementos en una linea*/
}

header .menu ul li a{
    color: #2c2f33; /*color del texto*/
    background-color: #fff; /*color del fondo*/
    border-radius: 40px; /*redondeado de botones*/
    font-size: 14px; /*tamaño de la tipografia*/
    padding: 7px 16px; /*margen interior 1,2*/
    margin: 0px 10px; /*margen exterior 1,2*/
}

header .menu ul li a:hover{
    background-color: #2c2f33;
    color: #f6f6f6;
    box-shadow: 0px 0px 15px 10px rgba(255,255,255,1);
    transition: 1s;
}

/*Desde acá empiezan los estilos del Section contenedor*/
section .box__1 {
    background-color: #EEF2F3; /*color del fondo*/
    text-align: center; /*alineado*/
    padding: 30px; /*margen interior */
    width: 70%;
    
}

section .box__1:nth-child(2) {
    background-color: #B9C6CB; /*color del fondo*/
    color: #f6f6f6;
        
}

section .box__1:nth-child(3) {
    background-color: #EEF2F3; /*color del fondo*/
    color: #000000;
    text-align: right;
        
}

section .box__1:nth-child(4) {
    background-color: #B9C6CB; /*color del fondo*/
    color: #ffffff;
    text-align: left;
}

section .box__1:nth-child(5) {
    background-color: #EEF2F3; /*color del fondo*/
    color: #000000;
    text-align: left;
}

section .box__1 h2{
    font-size: 60px;
    font-weight: 300;
}

section .hiper {
    margin-top: 60px;
}

section .hiper ul li{
    display: inline;
    margin: 0px 12px;
}


section .box__1 .hiper a{
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
    background-color: #2c2f33;
    color: #fff;
    margin: auto;
}

section .box__1 .hiper a:hover{
    background-color: #f6f6f6;
    color:  #2c2f33;
    box-shadow: 0px 0px 15px 10px rgba(255,255,255,1);
    transition: 1s;

}

header h1 {
    -webkit-text-stroke: 1px white; /*propiedad del texto*/
  }

header .logo {
    width: 300px;
    

}

footer {
    
    border-top:5px solid #fff ; /*borde imferior*/
    text-align: center; /*alineado*/
    background-color: #EEF2F3; /*fondo*/
    padding: 30px 10px; /*margen interior*/
}

footer .menu {
    margin-top: 18px; /*margen exterior supeior*/
}

footer .menu ul li {
    display: inline; /*ubica los elementos en una linea*/
}

footer .menu ul li a{
    color: #2c2f33; /*color del texto*/
    background-color: #fff; /*color del fondo*/
    border-radius: 40px; /*redondeado de botones*/
    font-size: 14px; /*tamaño de la tipografia*/
    padding: 7px 16px; /*margen interior 1,2*/
    margin: 0px 10px; /*margen exterior 1,2*/
}

footer .menu ul li a:hover{
    background-color: #2c2f33;
    color: #f6f6f6;
    box-shadow: 0px 0px 15px 10px rgba(255,255,255,1);
    transition: 1s;
    }